version: 2.1

orbs:
  node: circleci/node@7.2.1

jobs:

workflows:
  ci:
    jobs:
      - node/test:
          pkg-manager: npm
          executor:
            name: node/default
            tag: '22.11'
          cache-version: v1
          filters:
            branches:
              ignore: main

  deploy:
    jobs:
      - node/test:
          pkg-manager: npm
          executor:
            name: node/default
            tag: '22.11'
          cache-version: v1
          filters:
            branches:
              only: main
