version: 2.1

orbs:
  node: circleci/node@7.2.1
  android: circleci/android@3.2.0

jobs:
  android-run-tests:
    executor:
      name: android/android_machine
      tag: "2024.01.1"
      resource_class: large
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Generate android directory
          command: npx expo prebuild --platform android
      - restore_cache:
          keys:
            - gradle-v1-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "android/build.gradle" }}
            - gradle-v1-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}
            - gradle-v1-
      - run:
          name: Run Android tests
          command: cd android && ./gradlew test
      - save_cache:
          key: gradle-v1-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "android/build.gradle" }}
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
  android-build:
    executor:
      name: android/android_machine
      tag: "2024.01.1"
      resource_class: xlarge
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Generate android directory
          command: npx expo prebuild --platform android
      - restore_cache:
          keys:
            - gradle-v1-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "android/build.gradle" }}
            - gradle-v1-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}
            - gradle-v1-
      - run:
          name: Build Android Debug APK
          command: cd android && ./gradlew assembleDebug
      - save_cache:
          key: gradle-v1-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "android/build.gradle" }}
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
  android-build-macos:
    macos:
      xcode: "26.2.0"
    steps:
      - checkout

      - run:
          name: Check available Java versions
          command: /usr/libexec/java_home -V
      - run:
          name: Install Java 21
          command: |
            brew install openjdk@21
      - run:
          name: Set Java version to 21
          command: |
            echo 'export JAVA_HOME=$(/usr/libexec/java_home -v 21)' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Verify Java version
          command: java -version
      - run:
          name: Setup Android SDK
          command: |
            ANDROID_HOME=$HOME/Library/Android/sdk
            echo 'export ANDROID_HOME=$HOME/Library/Android/sdk' >> $BASH_ENV
            echo 'export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Accept Android SDK licenses
          command: yes | sdkmanager --licenses || true
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Generate android directory
          command: npx expo prebuild --platform android
      - restore_cache:
          keys:
            - gradle-v1-macos-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "android/build.gradle" }}
            - gradle-v1-macos-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}
            - gradle-v1-macos-
      - run:
          name: Build Android Debug APK
          command: cd android && ./gradlew assembleDebug
      - save_cache:
          key: gradle-v1-macos-{{ checksum "android/gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "android/build.gradle" }}
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper

workflows:
  ci:
    jobs:
      - node/test:
          pkg-manager: npm
          executor:
            name: node/default
            tag: 'current'
          cache-version: v1
          filters:
            branches:
              ignore: main
      - android-run-tests:
          filters:
            branches:
              ignore: main

  deploy:
    jobs:
      - node/test:
          pkg-manager: npm
          executor:
            name: node/default
            tag: 'current'
          cache-version: v1
          filters:
            branches:
              only:
                - main
                - experiment/macos-build
      - android-build:
          requires:
            - node/test
          filters:
            branches:
              only:
                - main
      - android-build-macos:
          requires:
            - node/test
          filters:
            branches:
              only:
                - main
                - experiment/macos-build